body {
  background-color: #d1dede;
  color: #373f47
}

button {
  background-color: #373f47; 
  border: none;
  border-radius: 8px;
  color: #cdd9e5;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
}

button:disabled {
  background-color: #373f47;
  opacity: 0.6;
  cursor: not-allowed;
}

#board {
  display: flex;
  flex-direction: column;
}

#mainheader {
 display: flex;
 align-items: center;
 justify-content: center;
}

#cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#startButton {
  display: flex;
  align-self: center;
  justify-self: center;
}

#player {
  display: flex;
  flex-wrap: wrap;
  width: 2000px;
  height: 2000px;
}

#buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.standOrHit {
  display: flex;
  align-self: center;
  justify-self: center;
}

.playingcard {
  width: 150px;
  height: 225px;
  border: 2px;
  border-color: black;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 1px #373f47;
  margin: 5px;
}
